[toolchain]
anchor_version = "0.30.0"

[features]
resolution = true
skip-lint = false

[programs.devnet]
mtf_etf = "6ZuD488g1DR652G2zmBsr7emXuQXQ26ZbkFZPyRyr627"

[programs.mainnet]
mtf_etf = "6ZuD488g1DR652G2zmBsr7emXuQXQ26ZbkFZPyRyr627"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000

